// Подключение шрифта
@import url(https://fonts.googleapis.com/css?family=Manrope:200,regular,700);

// Задаем шрифт по умолчанию через переменную для nullstyle
$fontfamily: "Manrope", sans-serif;

// Подключение файла обнуляющих стилей
@import "_nullstyle";

// Задаем функцию для динамических шрифта и отступов
@function calcSize($f-min, $f-max, $w-min, $w-max) {
	$k: ($f-max - $f-min)/($w-max - $w-min);
	$b: $f-min - $k * $w-min;

	$b: $b * 1px;

	@return calc(#{$k} * 100vw + #{$b});
}

// ОБЩИЕ ПАРАМЕТРЫ===================================

// Оболочка
body {
	background-color: #f5f5f5;
	width: 100%;
}

.wraper{
	//overflow: hidden; с ним не работает sticky
	margin: 0 auto;
	min-height: 100%;
	max-width: 1404px;
	padding: 0px 2px;
	color: #121212;
	background-color: #FFFFFF;
}

// Основная сетка - контейнер
.container{
	max-width: 1180px;
	padding: 0px 15px;
	margin: 0 auto;
}

// Стили на всей странице

img {
	height: auto;
	max-width: 100%;
}

.header {
	position: fixed;
	width: 100%;
	max-width: 1150px;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	padding: 26px 0 26px;
	background-color: #FFFFFF;
	z-index: 2;

	@media (min-width: 1150px) {
		&:after,
		&:before {
			content: '';
			position: fixed;
			top: 0;
			height: 100%;
			width: 125px;
			background-color: #FFFFFF;
		}
		&:after {
			right: 0;
			transform: translateX(100%);
		}
		&:before {
			content: '';
			left: 0;
			transform: translateX(-100%);
		}
	}
	

	@media (max-width: 1000px) {
		padding: calcSize(10, 26, 320, 1000) 0 calcSize(10, 26, 320, 1000);
	}
	

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		& img {
			@media (max-width: 1000px) {
				min-width: 127px;
			}
		}
		
	}

	&__menu {}
}


.menu {
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 60px;
		padding-left: 70px;

		@media (max-width: 400px) {
			padding-right: 15px;
		}
	}

	&__list-item {
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		vertical-align: baseline;
		transition: all 300ms ease;
		
		&:last-child{
			padding-right: 0px;
		}
		
		&:after {
			content: "";
			background-color: #121212;
			display: block;
			opacity: 0.5;
			width: 0%;
			height: 1px;
			width: 0%;
			transform: translateY(6px);
			transition: width 300ms ease-in-out;
			
		}

		&:hover {
			//margin-bottom: -1px; *заменил на after
			//border-bottom: 1px solid #1212128e;
			//transition: all 200ms linear;
			opacity: 0.5;
			
			&:after {
				width: 100%;
			}
		}
		
	}


}

.page {}

.content {}

.start {
	
	&__title {
		margin-bottom: 30px;
		padding-top: 128px;
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -0.03em;
		max-width: 956px;
		
		@media (max-width: 1000px) {
			padding-top: calcSize(30, 128, 320, 1000);
			font-size: calcSize(28, 60, 320, 1000);
			line-height: 1em;
		}

		@media (max-width: 704px) {
			padding-top: 100px;
		}

		@media (max-width: 452px) {
			padding-top: 130px;
		}

		@media (max-width: 426px) {
			padding-top: 180px;
		}
	}

	&__image {
		margin-bottom: 120px;
		position: relative;

		@media (max-width: 1000px) {
			margin-bottom: calcSize(40, 120, 320, 1000);
		}
	}

	&__info {
		width: min(430px, 80%);
		position: absolute;
		bottom: 40px;
		left: 40px;
		font-size: 20px;
		line-height: 27px;
		letter-spacing: -0.03em;
		color: #FFFFFF;

		@media (max-width: 1000px) {
			font-size: calcSize(16, 20, 320, 1000);
			line-height: 1em;
			bottom: calcSize(10, 40, 320, 1000);
			left: calcSize(10, 40, 320, 1000);
		}
	}
}

.about {

	&__title {
		margin-bottom: 30px;
		padding-top: 30px;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
	}

	&__info {
		font-size: 45px;
		line-height: 61px;
		letter-spacing: -0.03em;
		max-width: 1048px;
		margin-bottom: 30px;

		@media (max-width: 1000px) {
			font-size: calcSize(20, 45, 320, 1000);
			line-height: 1.2em;
		}
	}

	&__link {
		display: block;
		width: 255px;
		text-align: center;
		font-size: 20px;
		line-height: 27px;
		letter-spacing: -0.03em;
		color: #FFFFFF;
		padding: 20px 0;
		background-color: #AD1818;
		border-radius: 5px;
		margin-bottom: 150px;

		&:visited {
			color: #FFFFFF;
		}

		@media (max-width: 1000px) {
			margin-bottom: calcSize(50, 150, 320, 1000);
		}
	}
}

.projects {

	&__title {
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	&__row {}

	&__all {
		display: block;
		margin-bottom: 150px;
		width: 100%;
		padding: 56px 0;
		border: 1px solid #AD1818;
		border-radius: 5px;
		font-size: 30px;
		line-height: 41px;
		text-align: center;
		letter-spacing: -0.03em;
		color: #AD1818;
		//background-color: inherit;
		transition: all 200ms linear;

		&:visited {
			color: #AD1818;
		}

		&:hover {
			background-color: #AD1818;
			color: #FFFFFF;
			transition: all 100ms linear;
		}

		@media (max-width: 1000px) {
			font-size: calcSize(18, 30, 320, 1000);
			line-height: 1.2em;
			margin-bottom: calcSize(50, 150, 320, 1000);
			padding: calcSize(28, 58, 320, 1000) 0;
		}
	}
}

.project {

	&__image {
		margin-bottom: 15px;
	}

	&__info {
		font-size: 30px;
		line-height: 41px;
		letter-spacing: -0.03em;
		margin-bottom: 15px;

		@media (max-width: 1000px) {
			font-size: calcSize(18, 30, 320, 1000);
			line-height: 1.2em;
		}
	}

	&__link {
		font-size: 20px;
		line-height: 27px;
		letter-spacing: -0.03em;
		color: #AD1818;
		margin-bottom: 90px;

		@media (max-width: 1000px) {
			font-size: calcSize(16, 20, 320, 1000);
			line-height: 1.1em;
			margin-bottom: calcSize(30, 90, 320, 1000);
		}
	}
}

.services {
	background-color: #121212;
	color: #FFFFFF;

	&__title {
		margin-bottom: 34px;
		padding-top: 151px;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.03em;
		text-transform: uppercase;

		@media (max-width: 1000px) {
			padding-top: calcSize(50, 151, 320, 1000);
		}
	}

	&__row {}
}

.service {
	
	&__image {
		margin-bottom: 15px;
	}

	&__info {
		font-size: 30px;
		line-height: 41px;
		letter-spacing: -0.03em;
		margin-bottom: 60px;
		
		@media (max-width: 1000px) {
			font-size: calcSize(17, 30, 320, 1000);
			line-height: 1.2em;
			margin-bottom: calcSize(20, 60, 320, 1000);
		}		
	}

	&__info-last {
		margin-bottom: 0px;
		padding-bottom: 150px;

		@media (max-width: 1000px) {
			padding-bottom: calcSize(50, 150, 320, 1000);
		}
	}
}

.example {

	&__image {
		margin-bottom: 150px;
		position: relative;

		@media (max-width: 1000px) {
			margin-bottom: calcSize(50, 150, 320, 1000);
		}
	}
	
	&__info {
		width: min(443px, 80%);
		position: absolute;
		bottom: 60px;
		left: 125px;
		font-size: 30px;
		line-height: 41px;
		letter-spacing: -0.03em;
		color: #FFFFFF;

		@media (max-width: 1404px) {
			left: calcSize(15, 125, 1180, 1404);
		}

		@media (max-width: 1180px) {
			left: 15px;
		}

		@media (max-width: 1000px) {
			font-size: calcSize(18, 30, 320, 1000);
			line-height: 1.2em;
			bottom: calcSize(10, 60, 320, 1000);
		}
	}
}

.contacts {

	&__logo {
		margin-bottom: 10px;
	}

	&__title {
		margin-bottom: 32px;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
	}

	&__number {
		margin-bottom: 30px;
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -0.03em;

		@media (max-width: 1000px) {
			font-size: calcSize(32, 60, 320, 1000);
			line-height: 1em;
		}
	}

	&__mail {
		margin-bottom: 160px;
		font-size: 60px;
		line-height: 60px;
		letter-spacing: -0.03em;
		opacity: 0.5;
		padding-bottom: 10px;
		
		& a {
			border-bottom: 2px solid #121212;
			color: inherit;
		}
		
		@media (max-width: 1000px) {
			font-size: calcSize(32, 60, 320, 1000);
			line-height: 1em;
			margin-bottom: calcSize(50, 160, 320, 1000);
		}
	}
}

.footer {
	background-color: #121212;

	&__menu {}

	&__cr {
		text-align: center;
		font-size: 20px;
		line-height: 27px;
		letter-spacing: -0.03em;
		color: #FFFFFF;
		opacity: 0.5;
		padding-bottom: 30px;
		font-weight: 200;

		@media (max-width: 1000px) {
			font-size: calcSize(15, 20, 320, 1000);
			line-height: 1.1em;
		}
	}
}

.menu-2 {
	
	&__list {
		padding-top: 60px;
		margin-bottom: 87px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 10px 54.667px;

		@media (max-width: 1000px) {
			gap: 10px calcSize(16, 54.667, 320, 1000);
			margin-bottom: calcSize(60, 87, 320, 1000);
		}
	}

	&__list-item {
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all 200ms linear;

		&:hover {
			opacity: 0.5;
			transition: all 100ms linear;
		}

		@media (max-width: 1000px) {
			font-size: calcSize(16, 18, 320, 1000);
			line-height: 1.2em;
		}
	}

	
}